.portfolio-items {
  list-style: none;
}

.portfolio-items.col-3 > li {
  width: 33%;
}

.portfolio-item .item-main {
    border-radius: 10px;
  margin: 0 10px 10px 0;
  text-align: center;
  background: #fff;
  padding: 10px;
  border:1px solid #E8EAEE;
  
}

.portfolio-item img {
    border-radius: 10px;
  width: 200px;
  height: 200px;
}

.portfolio-item .portfolio-image {
  position: relative;
}

.portfolio-item .overlay {
    border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);

}

.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  /*display: inline-block;*/
  margin-top: -20px;
}

.portfolio-item:hover .overlay {
  opacity: 0.7;
}
